!!!
%html
  %head
    %title Badass Sinatra App
    %link{ rel: 'stylesheet', href: "#{asset_path('application.css')}" }
    %script{ src: "#{asset_path('application.js')}" }
  %body
    %h1
      Badass Sinatra App
    %p
      I rock hard!
