%nav{ data: { role: 'navbar' } }
  %ul
    %li
      %a{ href: '#timeline', data: { transition: 'fade', icon: 'home' } } Timeline
    %li
      %a{ href: '#mentions', data: { transition: 'fade', icon: 'star' } } Mentions
    %li
      %a{ href: '#messages', data: { transition: 'fade', icon: 'grid' } } Messages
    %li
      %a{ href: '#search', data: { transition: 'fade', icon: 'search' } } Search 
